.cardContainer {
    width: 100%;
    max-width: 360px;
    height: 100%;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #161b24;
}
.icon {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #12295341;
    flex-shrink: 0;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
}

.description {
    font-size: 16px;
    color: var(--text-inactive-color);
}