@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--tertiary-color);
}

:root {
  --primary-color: #3c7eff;
  --primary-dark-color: #3671e7;
  --secondary-color: #f5f9ff;
  --tertiary-color: #030407;
  --tertiary-transparent-color: #05070a;
  --tertiary-light-color: #11161f;
  --text-inactive-color: #7d8086;
  --error-color: #e62b34;
}

